<style>
  h2{
    padding-top: 100px;
    line-height: 64px;
    color: white;
    padding-left: 15px;
    text-align: center;
    font:  'Avenir Next', 'Hiragino Sans', sans-serif;
  }

  .post{
    
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    width: 100%;
    font-size: 13px;
    color: white;
    margin: 0 auto; 
  }
  .wrap{
    padding-right: 300px;
    padding-left: 300px;
    margin: 0 auto;
}

</style>

<h2>みんなの投稿</h2>

<div class="wrap">
    <% @posts.each do |post| %> 
      <div class="post">
        <div class="box1"><%= link_to post.title, post_path(post) %></div>
        <div class="box2"><%= post.body %></div>
        <div class="box3"><%= attachment_image_tag post, :photo, :fill, 600, 600, format: "jpg" %></div>
        <div class="box4"><%= render 'posts/tag_list', tag_list: post.interest_list %></div>
        <div class="box5">
          <% if post.favorited_by? current_user %>
            <%= link_to "いいね解除", post_favorites_path(post), method: :delete %>
          <% else %>
            <%= link_to "いいね", post_favorites_path(post), method: :post %>
          <% end %>  
      </div>
      <div class="box">
        <% if post.user.followed_by?(current_user) %>
          <%= link_to "フォロー解除", user_relationships_path(post.user), method: :delete %>
        <% else %>
          <%= link_to "フォロー", user_relationships_path(post.user), method: :post %>
        <% end %>
      </div>
    </div> 
  <% end %>
</div>

